div {
    border-style: solid;
    border-width: 7px;
    border-left-width: 7px;
    border-right-width: 7px;
    border-color: grey;
    margin: 50px auto;
    width: 600px;
    text-align: left;
    padding: 40px 75px;
    font-family: 'Courier New', Courier, monospace
}

body {
    text-align: left;
    font-family: "Helvitica", sans-serif;
}

label {
    text-align: center;
    font-size: 18px;
}

p {
    text-align: left;
    font-size: 18px;
}

h2 {
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 35px;
}

button {
    font-size: 20px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#solution {
    font-size: 26px;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    color: black;
}

.gauge {
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: black;
    text-align: left;
    font-size: 38px;
    font-weight: bold;
    width: 400px;
    height: 20px;
}